<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Учасникі процесу{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet"  href="{{ asset('public/css/bootstrap.min.css') }}" />
        <link rel="stylesheet"  href="{{ asset('public/css/bootstrap-datetimepicker.min.css') }}" />
        <link rel="stylesheet"  href="{{ asset('public/css/style.css') }}" />
        <script src="{{ asset('public/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('public/js/moment-with-locales.min.js') }}"></script>
        <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('public/js/bootstrap-datetimepicker.min.js') }}"></script>

    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
