<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Учасникі процесу{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet"  href="{{ asset('public/css/bootstrap.min.css') }}" />
        <link rel="stylesheet"  href="{{ asset('public/css/bootstrap-datetimepicker.min.css') }}" />
        <link rel="stylesheet"  href="{{ asset('public/css/style.css') }}" />
        <script src="{{ asset('public/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('public/js/moment-with-locales.min.js') }}"></script>
        <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('public/js/bootstrap-datetimepicker.min.js') }}"></script>
        <script src="{{ asset('public/js/script.js') }}"></script>

    <body>

        <div class="container-fluid">
            <div class="row header">
                <div class="col-md-2 logo">
                    <img  src="public/img/logo.png" />
                </div>
                <div class="col-md-10">
                    <h1 class="logo_text">
                        Вищий адміністративний суд України
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    {% block body %}{% endblock %}
                    {% block javascripts %}{% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 footer text-center">

                   <span class="footer_clock" id="doc_time"></span>
                        <script type="text/javascript">
                            clock();
                        </script>

                </div>
            </div>
        </div>

    </body>
</html>
