<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Учасник процесу{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet"  href="{{ asset('public/css/bootstrap.min.css') }}" />
        <link rel="stylesheet"  href="{{ asset('public/css/bootstrap-datetimepicker.min.css') }}" />
        <link rel="stylesheet"  href="{{ asset('public/css/style.css') }}" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="{{ asset('public/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('public/js/moment-with-locales.min.js') }}"></script>
        <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('public/js/bootstrap-datetimepicker.min.js') }}"></script>
        <script src="{{ asset('public/js/script.js') }}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <body>

        <div class="container-fluid">
            <div class="row header">
                <div class="col-xs-2 col-md-2 logo">
                    <a href='/admin/'> <img  src="/public/img/logo.png" /></a>
                </div>
                <div class="col-xs-10 col-md-10">
                    <h1 class="logo_text">
                        Вищий адміністративний суд України
                    </h1>
                </div>
            </div>
            {% if user is defined %}
                {% include ('default/logout.html.twig') %}
            {% endif %}
            <div class="row">
                <div class="col-md-12 text-center">
                    {% block body %}{% endblock %}
                    {% block javascripts %}{% endblock %}
                </div>
            </div>
            <div class="row export">
                <div class="col-md-12 footer text-center">

                   <span class="footer_clock" id="doc_time"></span>
                        <script type="text/javascript">
                            clock();
                        </script>
                </div>
            </div>
        </div>
    </body>
</html>
