{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form.fName , {'attr': {'placeholder':'Имя'}}) }}
    {{ form_widget(form.sName , {'attr': {'placeholder':'Фамилия'}})}}
    {{ form_widget(form.tName , {'attr': {'placeholder':'Отчество'}})}}
    {{ form_widget(form.docNum , {'attr': {'placeholder':'Номер документа'}})}}
    {{ form_widget(form.dateVisit) }}
    <select name="documentId">
        {% for document in documents %}
            <option value="{{ document.getId }}">{{ document.getType }}</option>
        {% endfor %}
    </select>

    <select name="typeVisitorId">
        {% for typeVisitor in typeVisitors %}
            <option value="{{ typeVisitor.getId }}">{{ typeVisitor.getTypeName }}</option>
        {% endfor %}
    </select>
    <input type="text" name="fileNum" value="" placeholder="Номер дела">
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}

    <hr>
    <h2>Поиск</h2>
    <form method="post" action="">
        <input type="text" name="searchDocNum" value="" placeholder="Поиск по номеру дела">
        <input type="text" name="searchSName" value="" placeholder="Поиск по фамилии">
        <input type="text" name="searchDateStart" value="" placeholder="Поиск по дате начало">
        <input type="text" name="searchDateEnd" value="" placeholder="Поиск по дате  конец">
        <input type="submit" value="Поиск">
    </form>
    <h2>Результат Поиска</h2>
    {% if searchResult != null %}
<table>
    <thead>
    <tr>
        <th>Номер дела</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Тип</th>
        <th>Документ</th>
        <th>Номер Документа</th>
        <th>Дата</th>

    </tr>
    </thead>
        {% for row in searchResult %}
            <tr>
            <td>{{ row.fileNumber }}</td>
                <td>{{ row.visitor.getSName }}</td>
                <td>{{ row.visitor.getFName }}</td>
                <td>{{ row.visitor.getTName }}</td>
                <td>{{ row.typeName }}</td>
                <td>{{ row.docType }}</td>
                <td>{{ row.visitor.getDocNum }}</td>
                <th>{{ row.visitor.getDateVisit |date('d-m-Y')}}</th>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
