{% extends 'base.html.twig' %}

{% block body %}
    <form method="post" action="{{ url('log_export') }}">
        <input type="text" name="id">
        <input type="submit" value="Get Log by ID">
    </form>
    <hr>
    <form method="post" action="{{ url('log_export') }}">
        {% include('default/form_date.html.twig') %}
        <input type="submit" value="Get Log by Date">
    </form>

    {% if result is defined %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Номер учасника процесу</th>
        <th>Номер справи</th>
        <th>Прізвище</th>
        <th>Ім'я</th>
        <th>По батькові</th>
        <th>Оператор</th>
        <th>Дiя</th>
        <th>Дата</th>
    </tr>
    </thead>
        {% for row in result %}
            {% set visitor = row.log.getObject %}
            <tr>
            <td class="text_table">{{ visitor.getId }}</td>
            <td class="text_table">{{ visitor.getTypeFileId }}</td>
            <td class="text_table_b">{{ visitor.getsName }}</td>
            <td class="text_table">{{ visitor.getfName }}</td>
            <td class="text_table">{{ visitor.gettName }}</td>
            <td class="text_table">{{ row.login }}</td>
            <td class="text_table">{{ row.log.getEventType }}</td>
            <th class="text_table">{{ row.log.getDate |date('d-m-Y H:i:s')}}</th>
            </tr>
        {% endfor %}

 </table>
    {% endif %}
    {% if user.isRoot %}
        <div class="form-group">
            <a type="button" class="btn btn-success" href="{{ url('csv_export') }}">Експорт даних</a>
        </div>
    {% endif %}
{% endblock %}
